{% extends 'main.html' %}

{% block content %}

<form action="" method="post" id="letter_of_intent" class="form-center">
    <h2>Intent letter creation</h2>
    <label for="">full name:</label><br>
    <input type="text" id="name" name="name" required autofocus value="{{emply.name}}"><br><br>
    <label for=""> offering role </label><br>
    <input type="text" id="role_offered_as"  name="role_offered_as"required value=""><br><br>
    <label for="">Joining Date</label><br>
    <input type="date" id="join_date" name="join_date" value="{{emply.join_date|date:'Y-m-d'}}"><br><br>
    <label for="">will be trained as</label><br>
    <input type="text" name="temporary_role" id="temporary_role" value="{{emply.temporary_role}}" required><br><br>
    <label for="">after trainig he will be appointed as</label><br>
    <input type="text" id="appointed_as" name="appointed_as" value="{{emply.role}}" required><br><br>
    <label for="">annual CTC</label><br>
    <input type="number" id="ctc" name="ctc" value="{{emply.annual_package}}" required><br><br>
    <input type="submit" value="create document">

</form>
<script>
goHome=function(page)
    {
        var link=document.createElement('a');
        link.setAttribute("downloaded","");
        link.href=page;
        document.body.appendChild(link);
        link.click();
        link.remove();
    } 


$("#letter_of_intent").submit(function(e) {
   
   e.preventDefault();
   
   $.ajax({
   
       url: "{% url 'letter_of_intent_creation' x %}",
       type:'POST',
       data:{ 
        
           name:$('#name').val(),
           present_role:$('#role_offered_as').val(),
           temporary_role:$('#temporary_role').val(),
           appointed_as:$('#appointed_as').val(),
           ctc:$('#ctc').val(),
           date:$('#join_date').val(),
           csrfmiddlewaretoken: '{{csrf_token}}',
           
          
       },
       success: function () {
           {
           alert("document downloaded,redirecting to the preview page");
           goHome("/preview_int_ltr/{{emply.id}}");
           }
       }
   });
   
   })
</script>


{% endblock %}