{% extends 'main.html' %}
{% block content %}

<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 450px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    input[type=submit]{
      border-color:rgb(62, 211, 221);
      border-radius: 25px;

      background-color: rgb(62, 211, 221);
    }
    </style>


{% for message in messages %}
    {% if message.tags == 'error'%}
          <font color="red">{{message.message}}</font>
      {% elif message.tags == 'info' %}
      <font color="orange">{{message.message}}</font>
      {% else %}
      <font color="green">{{message.message}}</font>
    {% endif %}
{% endfor %}

<div background-color="" align="center">
 <form method="post"  class="form-center">
      <h2> offer letter creation</h2>
      
    ('leave it as zero in fields in salary commponents,if there is no need to mention in generating letter')<br>
    {% csrf_token %}
    <div class="column" align="left">

        <br><br><br>
        Mr/Ms/Miss:<select name="header" id="header" >
          <option value="Mr">Mr</option>
          <option value="Ms">Ms</option>
          <option value="miss">Miss</option>
      </select><br><br>
        <label for="">name</label><br>
        <input type="text" value="{{emp.name}}" name="name" required size="28"><br><br>  
        <label for="">role</label><br>
        <input type="text" value="{{emp.role}}" name="role" required size=28"><br><br>

        <label for="">date</label><br>
        <input type="date" name="date" id="date" required style="width: 220px;"><br>
       <input type="checkbox" id="checkbox" onclick="datecheck()" value="use today date"> Use Today's date
    </div>
<div align="left">
    <br>
    <h4> Salary components </h4>

    <label for="">BAsic pay</label><br>
   
    <input type="number" name="basic" id="basic" size="28" required><br>

    <label for="">HRa</label><br>
    <input type="number" id="hra" name="hra" size="28" value="0" required><br><br>

    <label for="">Variable pay type: </label>
    
    &nbsp;<select name="variable_pay_type" id="">
      <option value="Monthly">Monthly</option>
      <option value="Quaterly">Quaterly</option>
      <option value="Half-Yearly">Half-Yearly</option>
      <option value="Yearly">Yearly</option>
    </select><br><br>
    <label for="">Variable pay</label><br>
    <input type="number" id="variable_pay" name="variable_pay" value="0" required size="30"><br>

    <label for="">Lta</label><br>
    <input type="number" id="lta" name="lta" value="0" required size="28"><br>

    <label for="">special allowance</label><br>
    <input type="number" id="spl_allowance" value="0" required name="spl_allowance" size="28"><br>
    <br>
    <input type="submit" value="create document">
    
    <div id="sum"></div>
</div>

 </form>

 <script>
  function datecheck(){
      var check =document.getElementById("checkbox").checked
      if (check !=false){
          document.getElementById('date').value="{{dt| date:'Y-m-d'}}";
          
      }
      else{document.getElementById('date').value="";}
  }
</script>
</div>
{% endblock %}