{% extends 'main.html' %}
{% block content %}

{% for message in messages%}
      {% if message.tags == 'error'%}
          <font color="red">{{message.message}}</font>
      {% else %}
      <font color="green">{{message.message}}</font>
{% endif %}
{% endfor %}

<br>
<font color="green"> <h3> letter just created </h3></font>
<a href="/{{id}}" class="button">edit</a> &nbsp;&nbsp;  <a href="{{mail_link}}" class="button">send on mail</a>  <br><br>
<a href="/{{f}}" class="button">Preview/download</a><br><br>
<a href="/main" class="button">back to Main page</a><br><br>



{% endblock %}