{% extends 'main.html' %}
{% block content %}
{% if request.user.is_superuser %}
<h1 style="color: lightblue;">Users Activities</h1>

<div class="user-records-table-container">
<table class="user-records-table">
    <th> User</th>
    <th>activity</th>
    {% for record in records%}
    <tr>
        <td>{{record.user}}</td>
        <td>{{record.record}} {{record.date}}</td>
        
    </tr>
    {% endfor %}
</table>
{% else %}
<font color="red"> you are not allowed here</font>
</div>

{% endif %}
{% endblock %}